[variables]
NIXPACKS_NODE_VERSION = "22"
HOSTNAME = "0.0.0.0"
PORT = "3000"

[phases.build]
cmds = [
  "npm run build",
  "mkdir -p .next/standalone/public",
  "cp -r public/* .next/standalone/public/ || true",
  "mkdir -p .next/standalone/.next/static",
  "cp -r .next/static/* .next/standalone/.next/static/ || true"
]
cacheDirectories = [".next/cache"]

[start]
cmd = "node .next/standalone/server.js"
